<div class="list card" id="{{activity._id}}">
  <div class="item" ng-click="toggleActivity(activity)">
    <label>
      <input type="text" class="activity-title" placeholder="Name" ng-readonly="activity._id !== editing" ng-model="activity.name" style="color:#2A94D6;font-size:20px;background-color:white;"/>
    </label>
  </div>
  <div class="item item-body" ng-if="viewActivity === activity._id">
    <div class="item-image">
      <img class="full-image" ng-if="!imageData.imageURI" ng-src="http://fresh.ly/api/activities/{{activity._id}}/images/0" />
      <img class="full-image" ng-if="imageData.imageURI" ng-src="{{imageData.imageURI}}"/>
    </div>

    <center><div style="padding:5px 5px 5px 5px;"><button ng-click="getPicture(activity)" class="button button primary ion-android-camera"> Take Photo</button></div></center>
    <!-- <button ng-click="uploadFile(activity)">upload me</button> -->

    <label class="item item-input">
      <span class="input-label" >Description</span>
      <input id="input-value" type="text" placeholder="Description" ng-readonly="activity._id !== editing" ng-model="activity.description"/>
    </label>
    <label class="item item-input">
      <span class="input-label">Cost</span>
      <input id="input-value" type="text" placeholder="Cost" ng-readonly="activity._id !== editing" ng-model="activity.cost"/>
    </label>
    <label class="item item-input">
      <span class="input-label">Time</span>
      <input id="input-value" type="text" placeholder="Time" ng-readonly="activity._id !== editing" ng-model="activity.time"/>
    </label>
    <label class="item item-input" ng-if="activity._id === editing">
      <span class="input-label">New Tag</span>
      <input id="input-value" type="text" placeholder="New Tag" ng-model="activity.newTag"/>
    </label>
    <button class="button button-full" ng-click="addTag(activity)" ng-if="activity._id === editing">Add Tag</button>

    <style>
    </style>

    <div class="list" ng-if="activity.tags.length > 0">
      <div class="item item-divider">
        Tags
      </div>
      <div class="item" ng-repeat="tag in activity.tags">
        <span ng-click="removeTag(activity,tag)">{{tag}}</span>
      </div>
    </div>
  </div>
  <div class="item tabs tabs-secondary tabs-icon-center" ng-if="viewActivity === activity._id">
    <button class="button primary tab-item" ng-if="activity._id !== editing" ng-click="editActivity(activity)">
      <i class="icon ion-edit"></i>
    </button>
    <button class="button primary tab-item" ng-if="activity._id === editing" ng-click="saveEdit(activity)">
      <i class="icon ion-archive"></i>
    </button>
    <button class="button light tab-item" ng-if="activity._id === editing" ng-click="cancelEdit(activity)">
      <i class="icon ion-arrow-return-left"></i>
    </button>
    <button class="button light tab-item" ng-if="activity._id !== editing" ng-click="deleteActivity(activity)">
      <i class="icon ion-trash-a"></i>
    </p>
  </div>
</div>
